server:
  port: 8082
spring:
  main:
    web-application-type: reactive
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user/**
        - id: BOOKING-SERVICE
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/booking/**
        - id: NOTIFICATION-SERVICE
          uri: lb://NOTIFICATION-SERVICE
          predicates:
            - Path=/notification/**
        - id: HOTEL-SERVICE
          uri: lb://HOTEL-SERVICE
          predicates:
           - Path=/hotel/**
#      global-cors:
#        cors-configurations:
#          '[/**]':
#            allowedOrigins:
#              - "http://localhost:300"
#            allowedMethods:
#              - GET
#              - POST
#              - PUT
#              - DELETE
#            allowedHeaders:
#              - Content-Type
#              - Authorization
#              - Access-Control-Allow-Origin
#              - Access-Control-Allow-Credentials
#              - Access-Control-Allow-Headers


eureka:
  client:
    service-url:
      defaultUrl: ${EUREKA_URI:http://209.97.190.88:8761/eureka/}
    instance:
      preferIpAddress: true

